body{
    position: relative;
    width: 100vw;
    height: 100vh;
    background:rgb(179, 27, 179) ;
}
main{
    width: 100%;
    height: 90%;
    background: rgb(179, 27, 179);
}
.texto{
    position: absolute;
    width: 55%;
    height: 65%;
    left: 10%;
    top: 20%;
    border: none;
    font-family: 'Times New Roman';
    font-style: normal;
    font-weight: 100;
    font-size: 40px;
    line-height: 150%;
    background-color: rgb(179, 27, 179);
}
.texto::placeholder{
   font-weight: bold;
   color:purple;
}

.terminos{
    position: absolute;
    left: 10%;
    top: 85%;
}
.botones{
    position: absolute;
    left: 10%;
    top: 93%;
}
button{
    width: 250px;
    padding: 15px 30px;
    margin: 0 7px;
    font-size: 20px;
    font-weight: bold;
    border: none;
    border-radius: 20px;
    transition: 1s all;
    cursor: pointer;
    position: relative;
    bottom: 7px;
}
.botonEncriptar{
    color: white;
    background: purple;
}
.botonDesencriptar{
    color: purple;
    background: pink;
}
.salida{
    position: absolute;
    width: 25%;
    height: 95%;
    left: 72%;
    top: 5%;
    background-color: violet;
    border: none;
    border-radius: 15px;
}
.salida img{
    position: absolute;
    width: 90%;
    height: 45%;
    top: 10%;
}
.mensaje-encriptado{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2%;
    gap: 10px;
    position: absolute;
    width: 100%;
    top: 55%;
    text-align: center;
}
.mensaje-encriptado h2{
    width: 60%;
    font-family: 'Times New Roman';
    font-style: normal;
    font-weight: bold;
    font-size: 23px;
    line-height: 150%;
}
.mensaje-encriptado p{
    width: 80%;
    font-family: 'Times New Roman';
    font-style: normal;
    font-size: 16px;
}
.mensaje{
    background-color: violet;
    border: none;
}

footer{
    text-align: center;
}
.copyright{
    color: black;
    font-size: 15px;
    margin: 20gipx;
}